body{
  background-color:#e4f9f5;
}

h1{
 color: #4cd3c2;
}

h3{
  color: #4cd3c2;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
